In [1]:
#IMporting libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt


# Loading Data
dataset= load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [9]:
df.loc[:10,'salary_year_avg':'salary_hour_avg']

    salary_year_avg  salary_hour_avg
0               NaN              NaN
1               NaN              NaN
2               NaN              NaN
3               NaN              NaN
4               NaN              NaN
5               NaN              NaN
6               NaN              NaN
7               NaN              NaN
8               NaN              NaN
9               NaN              NaN
10              NaN              NaN

In [8]:
median_salary_year = df['salary_year_avg'].median()
median_salary_year

115000.0

In [10]:
median_salary_hour = df['salary_hour_avg'].median()
median_salary_hour

45.97999954223633

In [ ]:
df_filled = df

df_filled['salary_year_avg']=df_filled['salary_year_avg'].fillna(median_salary_year)

0         115000.0
1         115000.0
2         115000.0
3         115000.0
4         115000.0
            ...
785736    115000.0
785737    115000.0
785738    115000.0
785739    115000.0
785740    115000.0
Name: salary_year_avg, Length: 785741, dtype: float64

In [ ]:
df_filled['salary_hour_avg']=df_filled['salary_hour_avg'].fillna(median_salary_hour)

0         45.98
1         45.98
2         45.98
3         45.98
4         45.98
          ...
785736    45.98
785737    45.98
785738    45.98
785739    45.98
785740    45.98
Name: salary_hour_avg, Length: 785741, dtype: float64

In [ ]:
df_unique = df_filled
df_unique = df_unique.drop_duplicates()

print("Length of original df:   ",len(df_filled))
print('Length of drop duplicateds df:', len(df_unique))
print('Rows Dropped:            ', len(df_filled)-len(df_unique))

Length of original df:    785741
Length of drop duplicateds df: 785640
Rows Dropped:             101

In [17]:
df_unique = df_unique.drop_duplicates(subset=['job_title', "company_name"])

print("Length of original df:   ",len(df_filled))
print('Length of drop duplicateds df:', len(df_unique))
print('Rows Dropped:            ', len(df_filled)-len(df_unique))

Length of original df:    785741
Length of drop duplicateds df: 508042
Rows Dropped:             277699

In [21]:
#Remove Rows with Missing Values (2.2.1) - Problem
df= dataset['train'].to_pandas()
df_filled = df.dropna(subset='salary_year_avg')
print("Length of original df:   ",len(df))
print('Length of drop duplicateds df:', len(df_filled))
print('Rows Dropped:            ', len(df)-len(df_filled))

Length of original df:    785741
Length of drop duplicateds df: 22003
Rows Dropped:             763738

In [24]:
#Remove Duplicate Rows (2.2.2) - Problem
df = dataset['train'].to_pandas()
df_length=len(df)
df_filled = df.drop_duplicates(subset=['job_location'])
df_filled_len = len(df_filled)
print(df_length)
print(df_filled_len)

785741
17218

In [25]:
df = dataset['train'].to_pandas()
rows_before = df.shape[0]
df_unique = df.drop_duplicates(subset=['job_location'])
rows_after = df_unique.shape[0]
rows_before, rows_after

(785741, 17218)

In [26]:
#Fill Missing Values in Column (2.2.3) 
df = dataset['train'].to_pandas()
salary_rate_before = df['salary_rate'].head(10)
df_filled = df.fillna({'salary_rate': 'Unknown'})
salary_rate_after = df_filled['salary_rate'].head(10)
salary_rate_before, salary_rate_after

(0    None
 1    None
 2    None
 3    None
 4    None
 5    None
 6    None
 7    None
 8    None
 9    None
 Name: salary_rate, dtype: object,
 0    Unknown
 1    Unknown
 2    Unknown
 3    Unknown
 4    Unknown
 5    Unknown
 6    Unknown
 7    Unknown
 8    Unknown
 9    Unknown
 Name: salary_rate, dtype: object)