#  Lists
 "# Lists\n",
    "\n"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "Here's a quick comparison between these 4 container data types:\n",
    "\n",
    "| Feature          | List                                  | Dictionary                           | Set                                | Tuple                             |\n",
    "|------------------|---------------------------------------|--------------------------------------|------------------------------------|-----------------------------------|\n",
    "| Syntax           | `[item1, item2, ...]`                 | `{'key1': value1, 'key2': value2}`   | `{item1, item2, ...}`              | `(item1, item2, ...)` or `item,`  |\n",
    "| Type of Data     | Sequence                              | Mapping                              | Set                                | Sequence                          |\n",
    "| Order            | Ordered                               | Unordered                            | Unordered                          | Ordered                           |\n",
    "| Indexing         | Yes (by index)                        | Yes (by key)                         | No                                 | Yes (by index)                    |\n",
    "| Duplicate Values | Allowed                               | Values can be duplicated, keys cannot| Not allowed                        | Allowed                           |\n",
    "| Mutability       | Mutable                               | Mutable                              | Mutable                            | Immutable                         |\n",
    "| Usage            | For a collection of ordered items     | For key-value pairs                  | For unique items                   | For fixed data                    |"
   ]
  },

In [14]:
# For a collection of ordered items
my_list = [1, 'python', [2, 'sql']]

my_list

[1, 'python', [2, 'sql']]

In [24]:
job_skills = ['sql', 'tableau', 'excel']

In [25]:
job_skills.append('python')

In [26]:
job_skills

['sql', 'tableau', 'excel', 'python']

In [27]:
job_skills.remove('tableau')

job_skills

['sql', 'excel', 'python']

In [28]:
len('Python')

6

In [31]:
len(job_skills)

3

In [32]:
job_skills[1]

'excel'

In [34]:
job_skills.insert(2, 'tableau')

In [36]:
job_skills

['sql', 'excel', 'tableau', 'python']

In [37]:
job_skills.pop(2)

'tableau'

In [39]:
job_skills

['sql', 'excel', 'python']

In [40]:
job_skills.pop()

'python'

In [41]:
job_skills

['sql', 'excel']

In [42]:
job_skills.insert(2, 'python')

job_skills

['sql', 'excel', 'python']

In [48]:
job_skills[0:3:]

['sql', 'excel', 'python']

In [50]:
job_skills[:]

['sql', 'excel', 'python']

In [52]:
job_skills[::2]

['sql', 'python']

In [59]:
luke_skills =['pathon', 'sql', 'tableau', 'excel']
kelly_skills = ['sql', 'looker', 'python'] 

all_skills = luke_skills + kelly_skills

all_skills

['pathon', 'sql', 'tableau', 'excel', 'sql', 'looker', 'python']

In [60]:
all_skills[::2]

['pathon', 'tableau', 'sql', 'python']

In [61]:
all_skills = list(set(all_skills))

In [63]:
all_skills.sort()

In [65]:
all_skills = set(all_skills)

In [66]:
type(all_skills)

set

In [72]:
all_skills= list(all_skills)
all_skills

['sql', 'pathon', 'python', 'looker', 'excel', 'tableau']

In [73]:
all_skills[4:]

['excel', 'tableau']

In [ ]:
all_skills[-1:]

['tableau']

In [78]:
job_skills

['sql', 'excel', 'python']

In [80]:
skill1, skill2, skill3 =all_skills[0:3]

print(skill1, skill2, skill3)

sql pathon python

In [82]:
skill_concerned, *skill_not_care = job_skills

In [83]:
print(skill_concerned)
print(skill_not_care)

sql
['excel', 'python']