# Operators Part 1

## Notes

* **Operators** are used to perform operations on variables and values.
* In this notebook we'll go over the following operator groups:
  * Arithmetic operators
  * Assignment operators
  * Comparison operators
* There are more operators but we'll go over that in a bit. 

## Importance

Arithmetic operators are essential for calculations, assignment operators for updating data, and comparison operators for filtering, all crucial for data analysis in libraries like Pandas and Matplotlib.

### Arithmetic Operators

Arithmetic operators are used with objects (mainly numeric ones) to perform math operations:

| Operator 	| Name           	| Example 	|
|----------	|----------------	|---------	|
| +        	| Addition       	| x + y   	|
| -        	| Subtraction    	| x - y   	|
| *        	| Multiplication 	| x * y   	|
| /        	| Division       	| x / y   	|
| %        	| Modulus        	| x % y   	|
| **       	| Exponentiation 	| x ** y  	|
| //       	| Floor division 	| x // y  	|

### Assignment Operators

Assignment operators are used to assign values to variables.

| Operator | Name                | Example |
|----------|---------------------|---------|
| =        | Assign              | x = y   |
| +=       | Add and assign      | x += y  |
| -=       | Subtract and assign | x -= y  |
| *=       | Multiply and assign | x *= y  |
| /=       | Divide and assign   | x /= y  |
| %=       | Modulus and assign  | x %= y  |
| **=      | Exponent and assign | x **= y |
| //=      | Floor divide and assign | x //= y  |

### Comparison Operators

Comparison operators compare two values and determine the relation between them.

| Operator | Name                  | Example |
|----------|-----------------------|---------|
| ==       | Equal to              | x == y  |
| !=       | Not equal to          | x != y  |
| >        | Greater than          | x > y   |
| <        | Less than             | x < y   |
| >=       | Greater than or equal | x >= y  |
| <=       | Less than or equal    | x <= y  |

In [3]:
"What's " + "Up" + "!"

"What's Up!"

In [4]:
"What's up? " * 10

"What's up? What's up? What's up? What's up? What's up? What's up? What's up? What's up? What's up? What's up? "

In [5]:
"What's up" - "Up"

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [ ]:
"What's up".replace("up", "")

"What's "

In [ ]:
min_salary = 20_000 # _ is ignored by the interpreter
max_salary = 80_000
ave_salary = (min_salary + max_salary) / 2

In [ ]:
applicant_1 = "kelly"
applicant_2 = "john"
applicant_3 = "jane"

In [ ]:
applicant_1, applicant_2, applicant_3 = applicant_3, applicant_1, applicant_2

In [ ]:
print([applicant_1,
applicant_2,
applicant_3
])

['jane', 'kelly', 'john']

In [ ]:
# Initial values
applicant_1 = "Alice"
applicant_2 = "Bob"
applicant_3 = "Charlie"

# Swap the values
applicant_1, applicant_2, applicant_3 = applicant_3, applicant_1, applicant_2

# Print the new values
print(f"Applicant 1: {applicant_1}")
print(f"Applicant 2: {applicant_2}")
print(f"Applicant 3: {applicant_3}")

Applicant 1: Charlie
Applicant 2: Alice
Applicant 3: Bob

In [ ]:
salary_kelly = 50_000
salary_john = 80_000

In [ ]:
salary_kelly == salary_john

False

In [ ]:
if (salary_kelly > salary_john):
    print("Kelly makes more than John")
else:
    print("John makes more than Kelly")

John makes more than Kelly