In [1]:
2 +3.0

5.0

In [3]:
"What's " + "Up" + "!"

"What's Up!"

In [5]:
"What's up? " * 10

"What's up? What's up? What's up? What's up? What's up? What's up? What's up? What's up? What's up? What's up? "

In [6]:
"What's up" - "Up"

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [7]:
"What's up".replace("up", "")

"What's "

In [ ]:
min_salary = 20_000 # _ is ignored by the interpreter
max_salary = 80_000
ave_salary = (min_salary + max_salary) / 2

In [26]:
applicant_1 = "kelly"
applicant_2 = "john"
applicant_3 = "jane"

In [27]:
applicant_1, applicant_2, applicant_3 = applicant_3, applicant_1, applicant_2

In [28]:
print([applicant_1,
applicant_2,
applicant_3
])

['jane', 'kelly', 'john']

In [23]:
# Initial values
applicant_1 = "Alice"
applicant_2 = "Bob"
applicant_3 = "Charlie"

# Swap the values
applicant_1, applicant_2, applicant_3 = applicant_3, applicant_1, applicant_2

# Print the new values
print(f"Applicant 1: {applicant_1}")
print(f"Applicant 2: {applicant_2}")
print(f"Applicant 3: {applicant_3}")

Applicant 1: Charlie
Applicant 2: Alice
Applicant 3: Bob

In [29]:
salary_kelly = 50_000
salary_john = 80_000

In [30]:
salary_kelly == salary_john

False

In [31]:
if (salary_kelly > salary_john):
    print("Kelly makes more than John")
else:
    print("John makes more than Kelly")

John makes more than Kelly